@font-face {
    font-family: 'Century Gothic';
    src: url('fonts/GOTHIC.TTF') format('truetype');
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
    * {
        font-size: 12px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1900px) {
    * {
        font-size: 14px;
    }
}

@media screen and (min-width: 1900px) {
    * {
        font-size: 16px;
    }
}

body {
    --bs-scroll-bg-color: #dbe1ed;
    --bs-scroll-thumb-color: #a5aac1;
    font-family: 'Century Gothic';
}

/* Scrollbar CSS*/

.bar-1::-webkit-scrollbar-track {
    background-color: var(--bs-scroll-bg-color);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.bar-1::-webkit-scrollbar {
    background-color: var(--bs-scroll-bg-color);
    width: 0.4rem;
    height: 0.4rem;
}

.bar-1::-webkit-scrollbar-thumb {
    background-color: var(--bs-scroll-thumb-color);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* animation css */

@media (min-width: 992px) {
    .logo {
        height: 6rem !important;
    }
    .fs-banner {
        font-size: 4rem;
    }
    .circle-svg {
        height: 12rem;
        width: 12rem;
    }
    .circle {
        position: relative;
        margin: 20px;
        height: 12rem;
        width: 12rem;
        /* background-color: orange; */
        border-radius: 50%;
    }
    .circle:before {
        position: absolute;
        content: '';
        height: calc(100% + 1rem);
        width: calc(100% + 1rem);
        border: 4px dashed white;
        top: -0.5rem;
        left: -0.5rem;
        border-radius: inherit;
        animation: spin 60s linear infinite;
    }
    .modal-pro {
        --bs-modal-width: 800px !important;
    }
    .w-custom {
        width: 50%;
    }
}

@media (min-width: 0px) and (max-width: 992px) {
    .logo {
        height: 10rem !important;
    }
    .navbar-toggler-icon {
        height: 2.5em !important;
        width: 2.5em !important;
    }
    .nav-link,
    .dropdown-item {
        font-size: 2.5rem !important;
    }
    .fs-banner {
        font-size: 4rem !important;
    }
    .fs-4rem {
        font-family: 'Century Gothic';
        font-size: 4rem !important;
        text-shadow: black;
    }
    .fs-3rem {
        font-family: 'Century Gothic';
        font-size: 4rem !important;
        text-shadow: black;
    }
    .fs-2rem {
        font-family: 'Century Gothic';
        font-size: 3rem !important;
        text-shadow: black;
    }
    .fs-1dot5rem {
        font-family: 'Century Gothic';
        font-size: 2.5rem !important;
        text-shadow: black;
    }
    .fs-1dot2rem {
        font-family: 'Century Gothic';
        font-size: 2.5rem !important;
        text-shadow: black;
    }
    .fs-1rem {
        font-family: 'Century Gothic';
        font-size: 2rem !important;
        text-shadow: black;
    }
    .fs-0dot9rem {
        font-family: 'Century Gothic';
        font-size: 1.2rem !important;
        text-shadow: black;
    }
    .circle-svg {
        height: 8rem;
        width: 8rem;
    }
    .circle {
        position: relative;
        margin: 20px;
        height: 8rem;
        width: 8rem;
        /* background-color: orange; */
        border-radius: 50%;
    }
    .circle:before {
        position: absolute;
        content: '';
        height: calc(100% + 1rem);
        width: calc(100% + 1rem);
        border: 4px dashed white;
        top: -0.5rem;
        left: -0.5rem;
        border-radius: inherit;
        animation: spin 60s linear infinite;
    }
    .interested-image {
        height: 400px !important;
        opacity: 0.7 !important;
        object-fit: cover !important;
    }
    .modal-pro {
        --bs-modal-width: 100% !important;
    }
    .w-custom {
        width: 100%;
    }
}

@keyframes spin {
    100% {
        transform: rotateZ(360deg);
    }
}

/* bootstrap css */

.nav-link {
    font-size: 1.2rem;
    font-family: 'Century Gothic';
    font-weight: 400;
    border-bottom: 2px solid transparent;
    color: #000;
}

.nav-link.dropdown-toggle.active {
    color: #ea5c0c;
}

.nav-link.dropdown-toggle.show {
    color: #ea5c0c;
    border-bottom: 2px solid #ea5c0c;
}

.navbar-nav li:last-child ul {
    right: 0px;
    left: auto;
}

.dropdown-item {
    font-family: 'Century Gothic';
    font-weight: 700;
}

.dropdown-item:active {
    background-color: transparent;
    color: #000;
}

.bottom-2 {
    bottom: -2rem !important;
}

.top-30 {
    top: 30% !important;
}

.bottom-20 {
    bottom: 20% !important;
}

.bottom-30 {
    bottom: 30%;
}

.start-5 {
    left: 5rem !important;
}

.border-orange {
    border-color: #ea5c0c !important;
}

.bg-black {
    background-color: #000;
}

.bg-orange {
    background-color: #ea5c0c !important;
}

.bg-lightblue {
    background-color: #edf0ff;
}

.bg-darkblue {
    background-color: #293476;
}

.bg-gray {
    background-color: #e8e8e8;
}

.text-bold {
    font-weight: bold;
}

.text-blue {
    color: #293476 !important;
}

.text-gray {
    color: #8c8d90 !important;
}

.text-orange {
    color: #ea5c0c !important;
}

.text-shadow {
    text-shadow: 2px 2px #000;
}

.fs-4rem {
    font-family: 'Century Gothic';
    font-size: 4rem;
    text-shadow: black;
}

.fs-3rem {
    font-family: 'Century Gothic';
    font-size: 3rem;
    text-shadow: black;
}

.fs-2rem {
    font-family: 'Century Gothic';
    font-size: 2rem;
    text-shadow: black;
}

.fs-1dot5rem {
    font-family: 'Century Gothic';
    font-size: 1.5rem;
    text-shadow: black;
}

.fs-1dot2rem {
    font-family: 'Century Gothic';
    font-size: 1.2rem;
    text-shadow: black;
}

.fs-1rem {
    font-family: 'Century Gothic';
    font-size: 1rem;
    text-shadow: black;
}

.fs-0dot9rem {
    font-family: 'Century Gothic';
    font-size: 0.9rem;
    text-shadow: black;
}

.ff-arial {
    font-family: Arial, Helvetica, sans-serif;
}

.text-animated {
    width: 100%;
    top: 50%;
    left: 40%;
    overflow: hidden;
    animation: textAnimation 3s 1;
    transition: background 0.15s ease-in-out;
}

.img-15 {
    height: 15rem;
    object-fit: cover;
}

.img-24 {
    height: 24rem;
    object-fit: cover;
    opacity: 0.7;
}

.img-header-30 {
    height: 40rem;
    object-fit: cover;
    opacity: 0.7;
}

.img-header-40 {
    height: 40rem;
    object-fit: cover;
    opacity: 0.7;
}

.interested-image {
    height: 16rem;
    object-fit: cover;
    opacity: 0.7;
}

.op-lt {
    object-position: left top;
}

.op-center {
    object-position: center;
}

@keyframes textAnimation {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.carousel-indicators>span.active {
    background-color: #ea5c0c !important;
    color: #ea5c0c !important;
}

.carousel-indicators span {
    width: 20px !important;
    height: 20px !important;
    border-radius: 100%;
    background-color: #a5aac1 !important;
    color: #a5aac1;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.carousel-indicators {
    bottom: -60px;
}

.carousel-control-prev {
    top: 40%;
    left: -1.5rem;
    background-color: #293476;
    opacity: 1;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.carousel-control-next {
    top: 40%;
    right: -1.5rem;
    background-color: #293476;
    opacity: 1;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.profile-card:hover {
    border: 0 !important;
    box-shadow: 0px 7px 17px -3px #33608f42 !important;
    transition: all 0.2s;
    transform: translateY(-2px);
}

.profile-image {
    width: 100px;
    min-width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #ef6e30;
    background-color: #c7eafd;
    overflow: hidden;
    padding-top: 5px;
    text-align: center;
    box-sizing: content-box;
}

.modal-profile-image {
    width: 150px;
    height: 150px;
    border: 3px solid #ea5c0c;
    background-color: #c7eafd;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: content-box;
}

.modal-body {
    max-height: 80vh;
    overflow-y: auto;
}

body.modal-open {
    overflow: auto !important;
}

.download-link,
download-link:visited {
    font-size: 1.5rem;
    color: #ea5c0c;
}

.download-link:hover,
.download-link:active {
    text-decoration: none;
}

table,
th,
td {
    border: 1px solid #899499;
}

table>thead>th>td {
    padding: 0.5rem;
}

table>tbody>tr>td {
    padding: 0.5rem;
    font-size: 1.1rem;
}

table>tbody>tr>td:last-child {
    text-align: center;
}

.row-table-header {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    background-color: #293476;
}

.row-category-header {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    background-color: #ea5c0c;
}

.dir-logo {
    padding: 1.2rem;
    height: 9rem;
}